:root {
    --blue: hsl(196, 100%, 42%);
    --lightblue: hsl(196, 33%, 77%);
    --grey: hsl(0, 0%, 85%);
    --light: hsl(0, 0%, 96%);
    --dark: hsl(0, 0%, 12%);
}

@font-face {
    font-family: 'Source-Sans-3';
    src: url('../assets/fonts/Source-Sans-3/SourceSans3-Regular.woff2') format('woff2'),
        url('../assets/fonts/Source-Sans-3/SourceSans3-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Source-Sans-3';
    src: url('../assets/fonts/Source-Sans-3/SourceSans3-Bold.woff2') format('woff2'),
        url('../assets/fonts/Source-Sans-3/SourceSans3-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Source-Sans-3';
    src: url('../assets/fonts/Source-Sans-3/SourceSans3-SemiBold.woff2') format('woff2'),
        url('../assets/fonts/Source-Sans-3/SourceSans3-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

/*
 * ------------------------------
 *       General Styles
 * ------------------------------
 */

body {
    font-family: 'Source-Sans-3', sans-serif;
    font-size: .875rem;
    font-weight: normal;
    color: var(--dark);
    background-color: var(--light);
}

h1 {
    font-size: 1.75rem;
    font-weight: bold;
}

h2 {
    font-size: 1.625rem;
    font-weight: 600;
}

/*
 * ------------------------------
 *       Button Styles
 * ------------------------------
 */

.button {
    font-weight: 630;
    padding: .5rem;
    width: 5.6rem;
    height: 2.6rem;
    background-color: var(--blue);
    border: none;
    color: var(--light);
}

.button:hover {
    cursor: pointer;
}

.button--save {
    background-color: var(--blue);
    color: var(--light);
    width: 10rem;
    height: 2.2rem;
}

.button--return {
    background-color: var(--dark);
    color: var(--light);
}


/*
 * ------------------------------
 *       Form Styles
 * ------------------------------
 */

form {
    margin: 20px;
}

input[type="text"] {
    padding: 10px;
    border: 1px solid var(--grey);
    font-size: 16px;
    width: 13.5rem;
    height: 2.1rem;
}

input[type="text"]:focus {
    outline: none;
    border-color: var(--blue);
}

/*
 * ------------------------------
 *       Labels Styles
 * ------------------------------
 */

 .labels-list {
    background-color: var(--grey);
    display: flex;
    flex-direction: column;
    width: 20rem;
}

.label {
    position: relative;
    padding: 0 1rem;
    font-size: 1.37rem;
    display: flex;
    align-items: center;
}

input:hover {
    cursor: pointer;
}

.class__title {
    padding-left: 1rem;
}

/*
 * ------------------------------
 *       Classes Styles
 * ------------------------------
 */

.classes-list .class {
    position: relative;
    padding-left: 1rem;
    margin-bottom: 0.75rem;
    cursor: pointer;
    font-size: 22px;
    display: flex;
    align-items: center;
}

.labels-list .label input[type="radio"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}


.labels-list .label input[type="radio"]:checked ~ .checkmark {
    background-color: #2196F3;
}

.labels-list .label .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.labels-list .label input[type="radio"]:checked ~ .checkmark:after {
    display: block;
}

.labels-list .label .label__title {
    padding-right: 1rem;
}
