{{!-- Comments add section --}}
<main>
    <div class="main__inner">
        {{> titleSection title="Voeg opmerking toe" blueBg=true }}
        {{> textareaSection label=section.title value=section.content }}
    </div>
</main>