{{!-- Add Education Programme --}}
<main>
    <div class="main__inner">
        {{> titleSection title='Voeg een opleiding toe' returnUrl="/education-programmes" }}
        {{> programmeSection }}
    </div>
    <script src="/scripts/addFormGroup.js"></script>
</main>