{{!-- Presences --}}
<div class="body__inner">
    <main>
        <div class="main__inner presences">
            {{> titleSection title='Aanwezigheden opnemen' returnUrl='/' }}

            {{#if pageError}}
                {{> pageError pageError=pageError}}
            {{/if}}

            {{> filters filters=userFilters }}
            <form action="/attendances" method="POST">

                <div class="date">
                    <p>Selecteer een datum</p>
                    <input type="date" name="date" required>
                </div>
            
                <button class="button">Opslaan</button>
                <input type="hidden" name="method" value="POST-MULTI">
                <input type="hidden" name="totalStudents" value="{{totalStudents}}">
                <input type="hidden" name="courseId" value="{{courseId}}">
                {{> table headers=addAttendanceTable.headers rows=addAttendanceTable.rows }}
            </form>
            
            {{!-- {{> table headers=usersTable.headers rows=usersTable.rows }} --}}
        </div>
    </main>
    <script src="/scripts/loadEducationPrograms.js"></script>
    <script src="/scripts/loadCourses.js"></script>
    <script src="/scripts/hideFilterSearch.js"></script>
</div>