{{!-- Comments section --}}
<main>
    <div class="main__inner">
        {{> titleSection title=title blueBg=true }}
        {{> button label="Voeg verslag toe" link=addUrl paddingBottom=true }}
        {{> commentSection comments=dataComments }}
    </div>
</main>