{{!-- Comments section --}}
<main>
    <div class="main__inner">
        {{> titleSection title="Alle opmerkingen" blueBg=true }}
        {{> commentSection comments=dataComments }}
        <div class="main__inner--add">
            {{> button label="+" link="/add-comment" }}
        </div>
    </div>
</main>