{{!-- Comments section --}}
<main>
    <div class="main__inner">
        {{> titleSection title=title blueBg=true }}
        {{#if canAddComment}}
            {{> button label="Voeg verslag toe" link=addUrl paddingBottom=true }}
            {{#isnt (length dataComments) 0}}
                {{> button id="pdfGeneratorBtn" label="Genereer PDF" }}
                <script src="/scripts/setGeneratePdfBtnToUrl.js"></script>
            {{/isnt}}
        {{/if}}
        {{#if dataComments}}
        {{> commentSection comments=dataComments }}
        {{else}}
        <div class="comments">
            <div class="comment">
                <p>Er zijn nog geen verslagen toegevoegd.</p>
            </div>
        </div>
        {{/if}}
    </div>
</main>