{{!-- Student Detail --}}
<div class="body__inner">
    <main>
        <div class="main__inner student-detail">
            {{> titleSection title=title blueBg=true returnUrl=returnUrl }}
            {{> textareaSection disabled=true label=section.title value=section.content }}
            <div class="comment__buttons">
                {{#if mayEditComment}}
                    {{> button label="Bewerken" id="editComment"}}
                    {{> button label="Opslaan" id="editComment" class="button--hidden"}}
                    {{> button label="Verwijder" id="editComment" class="button--dark button--hidden"}}
                    {{!-- TODO: Add scripts to edit! --}}
                {{/if}}
                {{> dropdown disabled=true labelText=" Zichtbaarheid:" name="visibility" id="visibilityDropdown" options=dropdownVisibility.options }}
            </div>
        </div>
    </main>
</div>