{{!-- Components --}}
<div class="body__inner">
    <main>
        <div class="main__inner">
            {{> titleSection title="Alle componenten" blueBg=true userInfo=true }}
            {{> titleSection title="Alle componenten" }}

            {{> button label="Gereed" link="#" }}
            {{> button label="Terug" class="button--dark" }}

            {{> inputField viewOnly=true value="Mees Akveld" }}
            {{> inputField placeholder="Vul hier je naam in" }}

            {{> commentSection comments=dataComments }}

            {{> schoolLabel value="Stuver"}}

            {{> schoolLabel value="Stuver"}}

            <textarea name="" id="" placeholder="Hier kan je een commentaar achterlaten..."></textarea>
            {{> textareaSection label=section.title value=section.content }}

            {{> labelList labels=labels }}

            {{> choicesLists choiceLists=choiceLists }}

            {{> dropdown dropdown }}

            {{> filters filters=filters }}

            {{> table headers=usersTable.headers rows=usersTable.rows }}

            {{> userInfoSection }}

            {{> addUserInfoSection }}

            {{> editUserInfoSection}}
        </div>
    </main>
</div>