{{!-- Dashboard --}}
<div class="body__inner">
    <header>
        <div class="header__inner">
            <a class="logo-sv--small" href=""><img src="/assets/images/logo.svg" alt="logo_sv"></a>
            <!-- Expression of the logged in user -->
            <a href="" class="user">Philippe De Pauw - Admin</a>
        </div>
    </header>
    <main>
        <div class="main__inner dashboard">
            <h1 class="dashboard__title">Student Volgsysteem</h1>
            <section class="dashboard__links">
                <!-- Expression of the links that can be seen depending on the role (admin, teacher, student) -->
                <a href="/overview" class="dashboard__link">Gebruikers</a>
                <a href="/search-student" class="dashboard__link">Zoek studenten</a>
                <a href="" class="dashboard__link">Docenten</a>
            </section>
        </div>
    </main>
</div>