{{!-- Dashboard --}}
<main>
    <div class="main__inner dashboard">
        <h1 class="dashboard__title">Student Volgsysteem</h1>
        <section class="dashboard__links">
            {{#dashboardLinks}}
                <a href="{{url}}" class="dashboard__link">{{title}}</a>
            {{/dashboardLinks}}
        </section>
    </div>
</main>