{{!-- Edit User --}}
<div class="body__inner">
    <main>
        <div class="main__inner user">
            {{> titleSection title=pageTitle blueBg=true returnUrl=returnUrl }}
            {{> userInfoSection }}
        </div>
    </main>

    <script src="/scripts/courses.js"></script>
    <script src="/scripts/subjects.js"></script>
    <script src="/scripts/functions.js"></script>
    <script src="/scripts/inputField.js"></script>
    <script src="/scripts/labels.js"></script>
    <script src="/scripts/coaches.js"></script>
</div>