{{!-- Edit User --}}
<div class="body__inner">
    <main>
        <div class="main__inner user">
            {{> titleSection title=pageTitle blueBg=true returnUrl=returnUrl }}
            {{> editUserInfoSection }}
        </div>
    </main>

    <script class="/scripts/editUser.js"></script>
</div>