{{!-- Login --}}
<div class="body__inner body--gradient">
    <main>
        <div class="main__inner main__inner--centered">
            <section class="centered">
                <img class="logo-sv--big" src="/assets/images/logo-big.svg" alt="logo_sv">
                <form class="login-form" action="">
                    <h1>Login</h1>
                    <div class="input-field">
                        <input type="text" class="input-field__input" placeholder="Gebruikersnaam">
                    </div>
                    <div class="input-field">
                        <input type="password" class="input-field__input" placeholder="Wachtwoord">
                    </div>
                    <div class="actions">
                        <a href="/" class="button button--dark">Terug</a>
                        <button type="submit" class="button">Inloggen</button>
                    </div>
                </form>
            </section>
            <!-- To be deleted when login is created, these are just links to view the progress -->
            <p class="temp-link">Tijdelijke link: <a href="/dashboard">Admin dashboard</a></p>
        </div>
    </main>
</div>