<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login | Student Volgsysteem</title>
        <link rel="stylesheet" href="../../public/css/reset.css">
        <link rel="stylesheet" href="../../public/css/main.css">
        <!-- CSS for the section in the middle of the page -->
        <link rel="stylesheet" href="../../public/css/centered-section.css">
        <link rel="shortcut icon" href="../../public/assets/images/favicon.svg" type="image/x-icon">
    </head>
    <body class="body--gradient">
        <div class="body__inner">
            <main>
                <div class="main__inner main__inner--centered">
                    <section class="centered">
                        <img class="logo-sv--big" src="../../public/assets/images/logo-big.svg" alt="logo_sv">
                        <form class="login-form" action="">
                            <h1>Login</h1>
                            <div class="input-field">
                                <input type="text" class="input-field__input" placeholder="Gebruikersnaam">
                            </div>
                            <div class="input-field">
                                <input type="password" class="input-field__input" placeholder="Wachtwoord">
                            </div>
                            <div class="actions">
                                <a href="index.html" class="button button--dark">Terug</a>
                                <button type="submit" class="button">Inloggen</button>
                            </div>
                        </form>
                    </section>
                    <!-- To be deleted when login is created, these are just links to view the progress -->
                    <p class="temp-link">Tijdelijke link: <a href="dashboard.html">Admin dashboard</a></p>
                </div>
            </main>
        </div>
    </body>
</html>