{{!-- Presences --}}
<div class="body__inner">
    <main>
        <div class="main__inner presences">
            {{> titleSection title='Aanwezigheden voor: 2023-2024 | PGM1-C | IT Business | Isabelle Volckaert' }}
            <div class="date">
                <p>Selecteer een datum</p>
                <input type="date">
            </div>
            {{> button label="Opslaan" }}
            {{> inputField placeholder="Zoek op naam" }}

            <!-- Table component -->
            <table class="users">
                <thead>
                    <tr>
                        <th>Aanwezig</th>
                        <th>Naam</th>
                        <th>Satus</th>
                        <th>Acties</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Expression of the students (name, course, status and link to student page) -->
                    <tr>
                        <td class="small-column"><input type="checkbox" checked></td>
                        <td>Mees Akveld</td>
                        <td class="active">Actief</td>
                        <td class="actions">
                            <a class="button button--icon" href="/users/1"><svg xmlns="http://www.w3.org/2000/svg"
                                    id="Layer_1" data-name="Layer 1" version="1.1" viewBox="0 0 24 24">
                                    <defs />
                                    <path
                                        d="M4.1 19.8h15.7V4.1H4.1v15.7ZM10.2 6h3.6v3.6h-3.6V6Zm0 4.2h3.6v7.7h-3.6v-7.7Z"
                                        style="stroke-width:0;fill:none" />
                                    <path d="M11 11h2v6.1h-2zM11 6.8h2v2h-2z" class="cls-2" />
                                    <path d="M1.4 22.6h21.2V1.4H1.4v21.2ZM3.3 3.3h17.3v17.3H3.3V3.3Z" class="cls-2" />
                                </svg></a>
                            <a class="button button--icon" href="/students/1"><svg xmlns="http://www.w3.org/2000/svg"
                                    id="Layer_1" data-name="Layer 1" version="1.1" viewBox="0 0 24 24">
                                    <defs />
                                    <path
                                        d="M23.2 2.3H.8v16.8H5v3.5h2.7l5.6-3.5h9.9V2.3ZM2.9 16.9V4.4h18.2V17h-8.6l-5.3 3.3V17H2.9Z"
                                        style="fill-rule:evenodd;fill:#000;stroke-width:0" />
                                    <path d="M5.6 12h7.7v2H5.6zM5.6 6.9h12.8v2H5.6z" class="cls-1" />
                                </svg></a>
                        </td>
                    </tr>
                    <tr class="inactive">
                        <td class="small-column"><input type="checkbox"></td>
                        <td>Benoît Biraguma</td>
                        <td class="inactive">Inactief</td>
                        <td class="actions">
                            <a class="button button--icon" href="/users/1"><svg xmlns="http://www.w3.org/2000/svg"
                                    id="Layer_1" data-name="Layer 1" version="1.1" viewBox="0 0 24 24">
                                    <defs />
                                    <path
                                        d="M4.1 19.8h15.7V4.1H4.1v15.7ZM10.2 6h3.6v3.6h-3.6V6Zm0 4.2h3.6v7.7h-3.6v-7.7Z"
                                        style="stroke-width:0;fill:none" />
                                    <path d="M11 11h2v6.1h-2zM11 6.8h2v2h-2z" class="cls-2" />
                                    <path d="M1.4 22.6h21.2V1.4H1.4v21.2ZM3.3 3.3h17.3v17.3H3.3V3.3Z" class="cls-2" />
                                </svg></a>
                            <a class="button button--icon" href="/students/1"><svg xmlns="http://www.w3.org/2000/svg"
                                    id="Layer_1" data-name="Layer 1" version="1.1" viewBox="0 0 24 24">
                                    <defs />
                                    <path
                                        d="M23.2 2.3H.8v16.8H5v3.5h2.7l5.6-3.5h9.9V2.3ZM2.9 16.9V4.4h18.2V17h-8.6l-5.3 3.3V17H2.9Z"
                                        style="fill-rule:evenodd;fill:#000;stroke-width:0" />
                                    <path d="M5.6 12h7.7v2H5.6zM5.6 6.9h12.8v2H5.6z" class="cls-1" />
                                </svg></a>
                        </td>
                    </tr>
                    <tr>
                        <td class="small-column"><input type="checkbox" checked></td>
                        <td>Ella Jekale</td>
                        <td class="active">Actief</td>
                        <td class="actions">
                            <a class="button button--icon" href="/users/1"><svg xmlns="http://www.w3.org/2000/svg"
                                    id="Layer_1" data-name="Layer 1" version="1.1" viewBox="0 0 24 24">
                                    <defs />
                                    <path
                                        d="M4.1 19.8h15.7V4.1H4.1v15.7ZM10.2 6h3.6v3.6h-3.6V6Zm0 4.2h3.6v7.7h-3.6v-7.7Z"
                                        style="stroke-width:0;fill:none" />
                                    <path d="M11 11h2v6.1h-2zM11 6.8h2v2h-2z" class="cls-2" />
                                    <path d="M1.4 22.6h21.2V1.4H1.4v21.2ZM3.3 3.3h17.3v17.3H3.3V3.3Z" class="cls-2" />
                                </svg></a>
                            <a class="button button--icon" href="/students/1"><svg xmlns="http://www.w3.org/2000/svg"
                                    id="Layer_1" data-name="Layer 1" version="1.1" viewBox="0 0 24 24">
                                    <defs />
                                    <path
                                        d="M23.2 2.3H.8v16.8H5v3.5h2.7l5.6-3.5h9.9V2.3ZM2.9 16.9V4.4h18.2V17h-8.6l-5.3 3.3V17H2.9Z"
                                        style="fill-rule:evenodd;fill:#000;stroke-width:0" />
                                    <path d="M5.6 12h7.7v2H5.6zM5.6 6.9h12.8v2H5.6z" class="cls-1" />
                                </svg></a>
                        </td>
                    </tr>
                    <tr>
                        <td class="small-column"><input type="checkbox" checked></td>
                        <td>Tristan De Ridder</td>
                        <td class="active">Actief</td>
                        <td class="actions">
                            <a class="button button--icon" href="/users/1"><svg xmlns="http://www.w3.org/2000/svg"
                                    id="Layer_1" data-name="Layer 1" version="1.1" viewBox="0 0 24 24">
                                    <defs />
                                    <path
                                        d="M4.1 19.8h15.7V4.1H4.1v15.7ZM10.2 6h3.6v3.6h-3.6V6Zm0 4.2h3.6v7.7h-3.6v-7.7Z"
                                        style="stroke-width:0;fill:none" />
                                    <path d="M11 11h2v6.1h-2zM11 6.8h2v2h-2z" class="cls-2" />
                                    <path d="M1.4 22.6h21.2V1.4H1.4v21.2ZM3.3 3.3h17.3v17.3H3.3V3.3Z" class="cls-2" />
                                </svg></a>
                            <a class="button button--icon" href="/students/1"><svg xmlns="http://www.w3.org/2000/svg"
                                    id="Layer_1" data-name="Layer 1" version="1.1" viewBox="0 0 24 24">
                                    <defs />
                                    <path
                                        d="M23.2 2.3H.8v16.8H5v3.5h2.7l5.6-3.5h9.9V2.3ZM2.9 16.9V4.4h18.2V17h-8.6l-5.3 3.3V17H2.9Z"
                                        style="fill-rule:evenodd;fill:#000;stroke-width:0" />
                                    <path d="M5.6 12h7.7v2H5.6zM5.6 6.9h12.8v2H5.6z" class="cls-1" />
                                </svg></a>
                        </td>
                    </tr>
            </table>
        </div>
    </main>
</div>