<div class="body__inner">
    <main>
        <div class="main__inner search-student">
            <div class="title-section">
                {{> button link="dashboard.html" label="<" dark=true }} <h1>Zoek studenten</h1>
            </div>
            <div class="choices">
                {{!-- component list one choice --}}
            </div>
            <a class="button" href="results.html">Zoeken</a>
            <button class="button button--dark">Reset</button>
        </div>
    </main>
</div>