{{!-- Results --}}
<div class="body__inner">
    <main>
        <div class="main__inner results">
            {{> titleSection title='Zoekresultaten voor: 2023-2024 | PGM1-C | IT Business | Isabelle Volckaert' }}
            {{> button label="Aanwezigheden opnemen" link="/presences" }}
            {{> inputField placeholder="Zoek op naam" }}
            {{> table headers=usersTable.headers rows=usersTable.rows }}
        </div>
    </main>
</div>