{{!-- Search student --}}
<div class="body__inner">
    <main>
        <div class="main__inner search-student">
            {{> titleSection title="Zoek studenten" }}
            {{> choicesLists choiceLists=searchStudentChoices }}
            {{> button label="Zoeken" link="/results" }}
            {{> button label="Reset" dark=true }}
        </div>
    </main>
</div>