{{!-- Search student --}}
<div class="body__inner">
    <main>
        <div class="main__inner search-student">
            {{> titleSection title=title returnUrl=returnUrl}}
            {{> button id="pdfGeneratorBtn" label="Genereer PDF" }}
            <script src="/scripts/setGeneratePdfBtnToUrl.js"></script>

            {{#if pageError}}{{> pageError pageError=pageError}}{{/if}}
            {{#if flash}}{{> flash flash=flash}}{{/if}}

            {{> filters filters=userFilters }}
            {{> table headers=usersTable.headers rows=usersTable.rows }}
        </div>
    </main>

</div>