{{!-- Student --}}
<div class="body__inner">
    <main>
        <div class="main__inner user">
            {{> titleSection title='Studentenfiche van: Mees Akveld - PGM1-C' blueBg=true userInfo=true }}
            <section class="cards">
                {{>card cards=cards}}
            </section>
        </div>
    </main>
</div>