{{!-- Student Detail --}}
<div class="body__inner">
    <main>
        <div class="main__inner student-detail">
            {{> titleSection title='Studentenfiche van: ' student=student blueBg=true userInfo=true }}
            {{> textareaSection label=section.title value=section.content }}
        </div>
    </main>
</div>