{{!-- Student --}}
<div class="body__inner">
    <main>
        <div class="main__inner student">
            {{> titleSection title='Studentenfiche van: ' student=student blueBg=true userInfo=true }}
            <section class="cards">
                {{>card cards=cards}}
            </section>
        </div>
    </main>
</div>