{{!-- Search student --}}
<div class="body__inner">
    <main>
        <div class="main__inner search-student">
            {{> titleSection title=title returnUrl=returnUrl}}

            {{#if pageError}}{{> pageError pageError=pageError}}{{/if}}
            {{#if flash}}{{> flash flash=flash}}{{/if}}

            
            <form class="filters" action="{{addStatusFormData.formAction}}">
                <h2>Voeg status toe:</h2>
                {{> dropdown }}
                {{> inputField placeholder="Annotatie" }}

                <div>
                    <button class="button">Toevoegen</button>
                </div>
            </form>

            {{> table headers=usersTable.headers rows=usersTable.rows }}
        </div>
    </main>

</div>