{{!-- Search student --}}
<div class="body__inner">
    <main>
        <div class="main__inner search-student">
            {{> titleSection title=title returnUrl="/"}}
            {{> filters filters=userFilters }}
            {{> table headers=usersTable.headers rows=usersTable.rows }}
        </div>
    </main>

</div>