{{!-- Search student --}}
<div class="body__inner">
    <main>
        <div class="main__inner search-student">
            {{> titleSection title=title returnUrl=returnUrl}}
            {{#isnt (length usersTable.rows) 0}}
                {{> button id="pdfGeneratorBtn" label="Genereer PDF" }}
            {{/isnt}}
            <script src="/scripts/setGeneratePdfBtnToUrl.js"></script>

            {{#if pageError}}{{> pageError pageError=pageError}}{{/if}}
            {{#if flash}}{{> flash flash=flash}}{{/if}}

            
            <form class="filters" action="{{addStatusFormData.formAction}}" method="{{addStatusFormData.method}}">
                <p>Voeg status toe:</p>
                <input type="hidden" name="method" value="POST">
                {{> dropdown options=statusAddition.options name=statusAddition.name id=statusAddition.id}}
                {{> inputField placeholder="Reden van uitschrijving" name="note"}}

                <div>
                    <button class="button">Toevoegen</button>
                </div>
            </form>
            
            {{#isnt (length usersTable.rows) 0}}
                {{> table headers=usersTable.headers rows=usersTable.rows }}
            {{else}}
                <p>Geen statuses gevonden.</p>
            {{/isnt}}
        </div>
    </main>

</div>