{{!-- All the teachers --}}
<div class="body__inner">
    <main>
        <div class="main__inner results">
            {{> titleSection title='Alle docenten' }}
            {{> inputField placeholder="Zoek op naam" }}
            {{> table headers=teachersTable.headers rows=teachersTable.rows }}
        </div>
    </main>
</div>