{{!-- User --}}
<div class="body__inner">
    <main>
        <div class="main__inner user">
            {{> titleSection title=pageTitle blueBg=true returnUrl=returnUrl }}
            {{> userInfoSection }}
        </div>
    </main>
</div>