{{!-- Users --}}
<div class="body__inner">
    <main>
        <div class="main__inner overview">
            {{> titleSection title='Overzicht van alle gebruikers' returnUrl="/" }}
            {{> button label="Voeg een gebruiker toe" link="/users/add-user" }}
            {{> filters filters=userFilters }}
            {{> inputField placeholder="Zoek op naam" }}
            {{> table headers=usersTable.headers rows=usersTable.rows }}
        </div>
    </main>

    <script src="/scripts/loadEducationPrograms.js"></script>
    <script src="/scripts/search.js"></script>
</div>