{{!-- User --}}
<div class="body__inner">
    <main>
        <div class="main__inner user">
            {{> titleSection title=pageTitle blueBg=true returnUrl=returnUrl }}
            {{> userInfoSection }}
            {{#if user.isStudent}}
                <div class="user__fiche">
                    {{> button label="Bekijk student fiche" link="/student-dashboard/2"}}
                </div>
            {{/if}}
        </div>
    </main>
</div>