<div class="body__inner">
    <main>
        <div class="main__inner user">
            <div class="title-section title-section--bg">
                {{> button link="results.html" label="<" dark=true}} <h1>Informatie over: {{student.firstName}}
                    {{student.lastName}} - {{student.class}}</h1>
            </div>
            <section class="lightgrey-bg">
                <div class="user-info">
                    <div class="user-info__left">
                        <h3>Persoonlijke informatie</h3>
                        {{> inputField viewOnly=true value="Voornaam" }}
                        {{> inputField viewOnly=true value="Achternaam" }}
                        {{> inputField viewOnly=true value="E-mailadres" }}
                        <h3>Labels</h3>
                        <div class="user-info__item">
                            <div class="input-field input-field--label input-field--view">
                                {{#each student.labels}}
                                <input readonly type="text" class="input-field__input" value="{{this}}">
                                {{/each}}
                            </div>
                        </div>
                    </div>
                    <div class="user-info__right">
                        <h3>School gerelateerde informatie</h3>
                        {{> inputField viewOnly=true value="Klas" }}
                        {{> inputField viewOnly=true value="Studiejaar" }}
                        {{> inputField viewOnly=true value="Statuut" }}
                        {{> inputField viewOnly=true value="Status" }}
                        {{> inputField viewOnly=true value="Trajectcoach" }}
                        {{> inputField viewOnly=true value="Werkplekcoach" }}
                        {{> inputField viewOnly=true value="Werkplekmentor" }}
                    </div>
                </div>
                <div class="user-info__button">
                    <button class="button">Wijzigen</button>
                </div>
            </section>
        </div>
    </main>
</div>