{{!-- Users --}}
<div class="body__inner">
    <main>
        <div class="main__inner overview">
            {{> titleSection title='Overzicht van alle gebruikers' }}
            {{> button label="Voeg een gebruiker toe" link="#" }}
            {{> filters filters=userFilters }}
            {{> inputField placeholder="Zoek op naam" }}
            <div class="table-container">
                {{> table headers=usersTable.headers rows=usersTable.rows }}
            </div>

        </div>
    </main>
</div>