{{!-- User --}}
<div class="body__inner">
    <main>
        <div class="main__inner user">
            {{> titleSection title=title blueBg=true returnUrl=returnUrl }}
            {{#if passwordResetFlash}}
                {{> flash flash=passwordResetFlash}}
            {{/if}}
            {{> userInfoSection }}
            {{#if studentFicheUrl}}
                <div class="user__fiche">
                    {{> button label="Bekijk student fiche" link=studentFicheUrl}}
                </div>
            {{/if}}
        </div>
    </main>
</div>