{{!-- User --}}
<div class="body__inner">
    <main>
        <div class="main__inner user">
            {{> titleSection title='Informatie over: ' student=userInfo blueBg=true userInfo=false }}
            {{> userInfoSection }}
        </div>
    </main>
</div>