{{!-- Welcome --}}
<main class="body--gradient">
    <div class="main__inner main__inner--centered">
        <section class="centered">
            <img class="logo-sv--big" src="/assets/images/logo-big.svg" alt="logo_sv">
            <p class="text">Welkom bij het student volgsysteem. Hier kunt u de voortgang van studenten bijhouden als
                medewerker/coach. Studenten kunnen alles omtrent werkplekleren hier opvolgen.</p>
            <div class="actions">
                <p>Nog geen login/login vergeten? Neem <a href="">contact</a> op met de administrator.</p>
                <a href="/login" class="button">Starten</a>
            </div>
        </section>
    </div>
</main>