 {{!-- Add User Section --}}

 <div class="user-info">
            <div class="user-info__left">
                <h3>Persoonlijke informatie</h3>
                <div class="user-info__item">
                    <p class="semibold">Voornaam</p>
                    {{> inputField placeholder='Voornaam'}}
                </div>
                <div class="user-info__item">
                    <p class="semibold">Achternaam</p>
                    {{> inputField placeholder='Achternaam'}}
                </div>
                <div class="user-info__item">
                    <p class="semibold">E-mailadres</p>
                    {{> inputField placeholder='E-mailadres'}}
                </div>
                <h3>Labels</h3>
                <div class="user-info__item">
                    {{> labelList labels=labels}}
                </div>
            </div>
            <div class="user-info__right">
                <h3>School gerelateerde informatie</h3>
                <div class="user-info__item">
                    <p class="semibold">Klas</p>
                    {{> inputField placeholder='Klas'}}
                </div>
                <div class="user-info__item">
                    <p class="semibold">Studiejaar</p>
                    {{> inputField placeholder='Studiejaar'}}
                </div>
                <div class="user-info__item">
                    <p class="semibold">Status</p>
                    {{> inputField placeholder='Statuut'}}
                </div>
                <div class="user-info__item">
                    <p class="semibold">Rol</p>
                    {{> inputField placeholder='Rol'}}
                </div>
                <div class="user-info__item">
                    <p class="semibold">Trajectcoach</p>
                    {{> inputField placeholder='Trajectcoach'}}
                </div>
                <div class="user-info__item">
                    <p class="semibold">Werkplekcoach</p>
                    {{> inputField placeholder='Werkplekcoach'}}
                </div>
                <div class="user-info__item">
                    <p class="semibold">Werkplekmentor</p>
                    {{> inputField placeholder='Werkplekmentor'}}
                </div>
            </div>
        </div>
        <div class="user-info__button">
            <button class="button">Toevoegen</button>
        </div>