{{!-- Filters --}}
<form class="filters">
    {{#each filters}}
        {{> dropdown }}
    {{/each}}
    <div>
        {{#isnt noReset true}}
            <a href="#" class="button button--dark" id="reset">Reset</a>
            <script src="/scripts/setResetButtonHrefToPathUrl.js"></script>
        {{/isnt}}
        {{#isnt noSearch true}}
            <button class="button" id="search">Zoeken</button>
        {{/isnt}}
    </div>
</form>