{{!-- Filters --}}
<form class="filters">
    {{#each filters}}
        {{> dropdown }}
    {{/each}}
    <div>
        <button class="button">Filteren</button>
        <a href="#" class="button button--dark" id="reset">Reset</a>
        <script src="/scripts/setResetButtonHrefToPathUrl.js"></script>
    </div>
</form>