<header>
    <div class="header__inner">
        <a class="logo-sv--small" href=""><img src="/assets/images/logo.svg" alt="logo_sv"></a>
        <!-- Expression of the logged in user -->
        <a href="" class="user">{{ user.firstname }} {{ user.lastname }} - {{ user.role }}</a>
    </div>
</header>