{{! List of labels to choose from }}
<div class="labels-list">
    {{#each labels}}
        <div class="label">
            <input type="checkbox">
            <p class="label__title">{{this}}</p>
        </div>
    {{/each}}
</div>