{{!-- Programme Section --}}
<form class="add-programme" action="">
    <div class="add-programme__section education-programme lightgrey-bg">
        <h1>De opleiding</h1>
        <div class="add-programme__group">
            <p class="semibold">Naam van de opleiding</p>
            {{> inputField placeholder="Graduaat in het programmeren"}}
        </div>
        <div class="add-programme__groups">
            <div class="add-programme__group">
                <p class="semibold">Schooljaar (20XX-XX)</p>
                {{> inputField placeholder="2023-24"}}
            </div>
            <div class="add-programme__group">
                <p class="semibold">Code (in hoofdletters)</p>
                {{> inputField placeholder="GRAPGMG"}}
            </div>
        </div>
    </div>
    <div class="add-programme__section programme-lines lightgrey-bg">
        <h1>De programmalijnen</h1>
        <div class="add-programme__group">
            <p class="semibold">Naam van de programmalijn</p>
            {{> inputField placeholder="Business & Communication"}}
        </div>
        <div class="add-programme__groups">
            <div class="add-programme__group">
                <p class="semibold">Beschrijving</p>
                <textarea name="" id=""></textarea>
            </div>
            <div class="add-programme__group">
                <p class="semibold">Studiepunten</p>
                {{> inputField placeholder="15" type="number"}}
            </div>
        </div>
        <button id="addProgrammeLine" class="button">Een extra programmalijn toevoegen</button>
    </div>
    <div class="add-programme__section courses lightgrey-bg">
        <h1>De vakken</h1>
        <div class="add-programme__group">
            <p class="semibold">Naam van het vak</p>
            {{> inputField placeholder="IT Professional"}}
        </div>
        <div class="add-programme__groups">
            <div class="add-programme__group">
                <p class="semibold">Beschrijving</p>
                <textarea name="" id=""></textarea>
            </div>
            <div class="add-programme__group">
                <div class="add-programme__group">
                    <p class="semibold">Studiepunten</p>
                    {{> inputField placeholder="2" type="number"}}
                </div>
                <div class="add-programme__group">
                    <p class="semibold">Contacturen</p>
                    {{> inputField placeholder="5" type="number"}}
                </div>
                <div class="add-programme__group">
                    <p class="semibold">Periode</p>
                    {{> dropdown options=periods }}
                </div>
            </div>
        </div>
        <button id="addCourse" class="button">Een extra vak toevoegen</button>
    </div>
    <div class="add-programme__section classes lightgrey-bg">
        <h1>De klassen</h1>
        <div class="add-programme__group">
            <p class="semibold">Naam van de klas (jaar-groep-klasgroep)</p>
            {{> inputField placeholder="1-PGM-A"}}
        </div>
        <button id="addClass" class="button">Een extra klas toevoegen</button>
    </div>
    <div class="actions">
        <button type="submit" class="button">Toevoegen</button>
        {{> button label="Annuleren" dark=true link="/education-programmes"}}
    </div>
</form>