{{!-- User Section --}}
<form action="{{form.action}}" method="POST" class="add-programme">
    <input type="hidden" name="method" value="{{form.method}}">

    {{#if pageError}}
    {{> pageError pageError=pageError}}
    {{/if}}

    <section class="lightgrey-bg">
        <div class="user-info">
            <div class="user-info__left">
                <div class="user-info-container">
                    <h3>Persoonlijke informatie</h3>
                    {{#if data.personal.firstname}}
                    <div class="user-info__item">
                        <p class="semibold">Voornaam</p>
                        {{> inputField placeholder="Voornaam" value=data.personal.firstname.value
                        name=data.personal.firstname.name }}
                    </div>
                    {{/if}}
                    {{#if data.personal.lastname}}
                    <div class="user-info__item">
                        <p class="semibold">Achternaam</p>
                        {{> inputField placeholder="Achternaam" value=data.personal.lastname.value
                        name=data.personal.lastname.name }}
                    </div>
                    {{/if}}
                    {{#if data.personal.email}}
                    <div class="user-info__item">
                        <p class="semibold">E-mailadres</p>
                        {{> inputField placeholder="E-mailadres" value=data.personal.email.value
                        name=data.personal.email.name }}
                    </div>
                    {{/if}}
                    <div class="user-info__item">
                        <p class="semibold">Rol</p>
                        <p class="input-field__input">Student</p>
                        <input type="hidden" name="personal-role" value="1">
                    </div>
                </div>
                <div class="user-info-container">
                    <h3>Labels</h3>
                    {{#if data.labels}}
                    {{#isnt viewOnly true}}
                    <p><em>U kunt Control-klikken (Windows) of Command-klikken (Mac) om er meer dan één te
                            selecteren.</em>
                    </p>
                    {{/isnt}}
                    <div class="user-info__item">
                        <div class="input-field input-field--label input-field--view">
                            {{> dropdown multiple=true options=data.labels.dropdown.labels}}
                        </div>
                    </div>
                    {{else}}
                    <div class="user-info__item">
                        <p>Geen labels</p>
                    </div>
                    {{/if}}
                </div>
            </div>
            <div class="user-info__right">
                <div class="user-info-container">
                    <h3>Links</h3>
                    {{#if data.contact.website}}
                    <div class="user-info__item">
                        <p class="semibold">Website</p>
                        {{> inputField placeholder="Website" value=data.contact.website.value
                        name=data.contact.website.name
                        }}
                    </div>
                    {{/if}}
                    {{#if data.contact.linkedin}}
                    <div class="user-info__item">
                        <p class="semibold">
                            LinkedIn
                        </p>
                        {{> inputField placeholder="LinkedIn" value=data.contact.linkedin.value
                        name=data.contact.linkedin.name }}
                    </div>
                    {{/if}}
                    {{#if data.contact.facebook}}
                    <div class="user-info__item">
                        <p class="semibold">
                            Facebook
                        </p>
                        {{> inputField type="url" placeholder="Facebook" value=data.contact.facebook.value
                        name=data.contact.facebook.name }}
                    </div>
                    {{/if}}
                </div>
            </div>
        </div>
        {{#includes user.employee.functions '["admin", "teamleader"]'}}
        <div class="user-info__button">
            <button class="button">Wijzigen</button>
        </div>
        {{/includes}}
    </section>

    <section class="lightgrey-bg">
        <div class="user-info">
            <h3>Opleidingen</h3>
            
        </div>
    </section>

    {{#isnt viewOnly true}}
    <div class="actions">
        {{> button label="Annuleren" class="button--dark" link=cancelUrl}}
        <button type="submit" class="button">Opslaan</button>
    </div>
    {{/isnt}}
</form>